html
    head
    body
        h2 Crear Publicación
        form(role='form' method='POST' action='http://localhost:3000/publications/createPublication')
            | Nombre 
            input(type="text", name="name", id="name")
            br 
            | Descripción
            input(type="text", name="description", id="description") 
            br
            | Usuario 
            input(type="text", name="iduser", id="iduser") 
            br
            | Categoría
            input(type="text", name="idcategory", id="idcategory") 
            br
            | Imagen del Banner 
            input(type="text", name="bannerimage", id="bannerimage")
            br 
            input(type="submit")