html
    head
    body 
        table
            thead 
                tr
                    th Nombre
                    th Descripción
                    th Eliminar
                    th Editar
            tbody#tablePublicactionsBody

    script(src='/static/js/getAllPublications.js')