html
    head
    body 
    input#id(
        type='text'
        name='id'      
    )
    button(
        onclick='return getAnalista(this)'
    ) Send
    #analistas

    script(src='/static/js/getAnalista.js')